{% extends 'catalog/home.html' %}

{% block content%}
<main class="row">
            <div class="row text-center">
                {% for object in object_list %}
                <div class="col-4">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">{{object.name_prod}}</h4>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title pricing-card-title">$140</h2>
                            <p>
                                <li> Неограниченная лицензия</li>
                                <li> Поддержка</li>
                                <li> Установка на сервер</li>
                                <li> Получение обновлений</li>
                            </p>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купить</button>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>

{% endblock %}